@use '~@scss-vars/colors.scss' as c;
@use '~@scss-utils/functions' as f;

.nav-panel {

  &__list {
    display: flex;
    width: 100%;
    gap: 66px;
    height: 100%;
    align-items: center;
  }

  &__item {
    display: flex;
    transition: color .5s ease-in-out;

    &:hover {
      color: white;
    }

    &--auth {
      display: flex;
      gap: 5px;

      & > .nav-panel__text {
        color: #656565;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: f.getREM(15);
    line-height: f.getREM(30);
    color: #919191;
  }

  &__count {
    @extend %font;
    color: c.$ACTIVE_FONT_COLOR;
    font-size: f.getREM(15);
    letter-spacing: 0.38px;
  }

  &__icon {
    display: none;
  }
}