nav.nav-panel
  .nav-panel__list._list
    .nav-panel__item
      a(href='/wishlist').nav-panel__link._link
        span.nav-panel__text Wishlist
        span.nav-panel__count.nav-panel__count--wishlist (2)
        span.nav-panel__icon.nav-panel__icon--heart
    .nav-panel__item
      a(href='/cart').nav-panel__link._link
        span.nav-panel__text Shopping cart
        span.nav-panel__icon.nav-panel__icon--cart
        span.nav-panel__count.nav-panel__count--shopcart  (0)
    .nav-panel__item.nav-panel__item--auth
      a(href='#').nav-panel__link._link
        span.nav-panel__text Login
      span.nav-panel__text or
      a(href='#').nav-panel__link._link
        span.nav-panel__text Create account
      a(href='#').nav-panel__link._link
        span.nav-panel__icon.nav-panel__icon--sign-in
