@use '~@scss-vars/colors' as c;
@use '~@scss-utils/functions' as f;

.tab-panel {
  &__btn {
    @extend %font;
    padding: 0;
    position: relative;
    font-size: f.getREM(17);
    letter-spacing: .75px;
    line-height: 35px;
    border: none;
    background-color: transparent;
    color: c.$MAIN_FONT_COLOR;
    transition: color 0.5s ease-in-out;
    margin-left: 50px;
    margin-bottom: 10px;

    &:hover {
      cursor: pointer;
      color: c.$ACTIVE_FONT_COLOR;
    }

    &--active {
      color: c.$ACTIVE_FONT_COLOR;
      border-bottom: 4px solid white;
    }
  }
}
