@use '~@scss-vars/colors' as c;

.header {
  display: flex;
  justify-content: center;
  height: 60px;
  color: c.$MAIN_FONT_COLOR;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }
}