%flex-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

%font {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}