._wrap {
  height: 100%;
  width: var(--wrap-width);
  margin: 0 15px;
}

._link {
  display: block;
  text-decoration: none;
  color: #ccc;

  &:hover {
    cursor: pointer;
  }
}

._img {
  display: block;
}
