._wrap {
  box-sizing: border-box;
  padding: 0 15px;
  height: 100%;
  width: 1200px;
}

._link {
  display: block;
  text-decoration: none;
  color: #ccc;

  &:hover {
    cursor: pointer;
  }
}

._list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

._img {
  display: block;
}
