.categories {
  display: flex;
  justify-content: center;
  min-height: 123px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    //padding: 13px 15px 16px;
  }

  &__tab-panel {
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__link {
    display: block;
    width: 185px;
    height: 98px;
    background-image: url('~@images/logo-wot-big.png');
  }
}

//@import 'categories-media';