.categories {
  display: flex;
  justify-content: center;
  height: 123px;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__tab-panel {
    //width: 433px;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    //justify-content: space-between;
    margin-bottom: 10px;
  }

  &__link {
    display: block;
    width: 185px;
    height: 98px;
    align-self: center;
    background-image: url('~@images/logo-wot-big.png');
  }
}

@import 'categories-media';
