nav
  ul
    li
      a(href='/wishlist')
        span Wishlist
        span  (2)
        span Серд.
    li
      a(href='/cart')
        span Shopping cart
        span Тележка
        span  (5)
    li
      a(href='#') Login
      span  or
      a(href='#')  Create account
      a(href='#') Log out