nav
  ul
    li
      a(href='/wishlist')
        span Wishlist
        span  (2)
        img
    li
      a(href='/cart')
        span Shopping cart
        span  (5)
        img
    li
      a(href='#') Login
      span  or
      a(href='#')  Create account
      img