$BLOCK_SIZE: 400px;
$BLOCK_BORDER_RADIUS: 5px;
$DIAM: 250px;
$THICK: 15px;

@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin animation($name) {
  animation: $name 6s ease-in-out infinite both;
}

@mixin circle($diam) {
  width: $diam;
  height: $diam;
  border-radius: 50%;
}

body {
  @include centering;
  margin: 0;
  height: 100vh;
}

.wrap {
  @include centering;
  position: relative;
  width: $BLOCK_SIZE;
  height: $BLOCK_SIZE;
  border-radius: $BLOCK_BORDER_RADIUS;
  margin: 0 auto;
  background-color: lightseagreen;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  overflow: hidden;
}

.transporter {
  @include centering;
  box-sizing: border-box;
  height: 350px;
  width: 100%;
  background: linear-gradient(to right, darkgray, grey);
  background-size: 300% 100%;
  border-top: 15px solid dimgray;
  border-bottom: 15px solid dimgray;
  @include animation(colorize);
}

@keyframes colorize {
  0% {
    background-position: 100%;
  }
  25%, 75% {
    background-position: 50%;
  }
  100% {
    background-position: 0%;
  }
}

.circle {
  @include centering;
  @include circle($DIAM);
  background-color: rgb(150, 150, 150);
  border: 10px solid rgb(170, 170, 170);
  box-shadow: 0 0 10px rgb(0, 0, 0, .5);
  @include animation(move);
}

@keyframes move {
  0% {
    transform: translate3d(-$BLOCK_SIZE, 0, 0);
  }
  25%, 75% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d($BLOCK_SIZE, 0, 0);
  }
}

.sugar {
  @include centering;
  @include circle($DIAM);
  background-color: darkgoldenrod;
  @include animation(fill);
}

@keyframes fill {
  0%, 25% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.figure {
  box-sizing: border-box;
  @include circle(200px);
  border: 15px solid darkred;
  @include animation(cut);
}

@keyframes cut {
  0%, 50% {
    filter: opacity(0);
  }
  75% {
    filter: opacity(1);
  }
}
