doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Premium Shop for Gameface
  body
    include /header/header
    div
      include /categories/categories
      include /goods/goods