mixin tab-panel(tabs)
  ul(class=[attributes.class]).tab-panel._list
    each tab in tabs
      - var {text, isActive} = tab
      li.tab-panel__item
        button(class=['tab-panel__btn', isActive ? 'tab-panel__btn--active' : ''])= text