@use '~@scss-vars/colors' as c;
@use '~@scss-vars/sizes' as s;

.goods {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  &__list-item {
    width: calc(1197px / 4);
    height: 299px;
    background-color: rgba(0, 0, 0, .21);
    margin-bottom: 1px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: transparent;
    }

    &--big {
      width: calc(1199px / 2);
    }
  }

  &__item {

  }
}

//@import 'goods-media';