include /item/item

-
  var items = [
    {
      type: 'vehicle',
      name: 'ะะก-6',
      country: 'ussr',
      tankType: 'heavy',
      price: '47.99',
      image: 'is-6',
      href: 'https://eu.wargaming.net/shop/wot/vehicles/19045/',
      isWish: true,
    },
    {
      type: 'vehicle',
      name: 'VIII Lowe',
      country: 'norway',
      tankType: 'heavy',
      price: '42.99',
      image: 'lowe',
      href: 'https://eu.wargaming.net/shop/wot/vehicles/19044/'
    },
    {type: 'extra', name: 'Extension Pack', price: '28.99', image: 'extension-pack', href: '#'},
    {
      type: 'premium',
      name: 'Wot Premium Account: 3 Days',
      price: '2.99',
      image: 'premium-3',
      href: 'https://eu.wargaming.net/shop/wot/premium/ps_p_13629/'
    },
    {
      type: 'vehicle',
      name: 'VII M56 Scorpion',
      country: 'usa',
      tankType: 'destroyer',
      price: '24.99',
      image: 'm56-scorpion',
      href: 'vehicles/m56-scorpion.html',
      size: 'big',
    },
    {
      type: 'vehicle',
      name: 'VIII FV4202',
      country: 'britain',
      tankType: 'medium',
      price: '40.99',
      image: 'fv4202',
      href: 'https://eu.wargaming.net/shop/wot/vehicles/19056/'
    },
    {
      type: 'vehicle',
      name: 'VIII M4A1 Revalorise',
      country: 'france',
      tankType: 'medium',
      price: '35.99',
      image: 'm4a1-revalorise',
      href: 'https://eu.wargaming.net/shop/wot/vehicles/19055/'
    },
    {
      type: 'extra',
      name: '10 personal reserves: +15% xp limited edition',
      price: '29.99',
      image: 'personal-reserves-10',
      href: '#',
      isWish: true,
    },
    {
      type: 'gold',
      name: 'gold: 25.000',
      price: '99.99',
      image: 'gold-25000',
      href: 'https://eu.wargaming.net/shop/wot/gold/ps_p_128/'
    },
    {
      type: 'vehicle',
      name: 'VIII T92',
      country: 'usa',
      tankType: 'light',
      price: '36.99',
      image: 't92',
      href: 'https://eu.wargaming.net/shop/wot/vehicles/20189/'
    },
  ]

div.goods
  .goods__list._list._wrap
    each item in items
      div(class=['goods__list-item', item.size === 'big' ? 'goods__list-item--big' : ''])
        +item(item).goods__item