include /atoms/button/button

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title M56 Scorpion
  body
    include /sections/header/header
    include /sections/categories/categories
    section.vehicle
      .vehicle__wrap._wrap
        h2.vehicle__title M56 scorpion
        h3.vehicle__subtitle Details
        p.vehicle__descr
          | Premium Account allows to research desirable vehicles quicker and to save time on its purchase. It gives
          | more Credits and Experience per battle. It is a great deal as the profit after paying for repairs an
      .vehicle__pay
        .vehicle__price $ 12.59
        +button('Purchase').vehicle__purchase