@use '~@scss-vars/colors' as c;
@use '~@scss-utils/functions' as f;

.btn {
  @extend %font;
  width: 100px;
  height: 39px;
  background-color: c.$MAIN_BTN_COLOR;
  font-size: f.getREM(12);
  line-height: 18px;
  letter-spacing: 0.12px;
  color: c.$ACTIVE_FONT_COLOR;
}