@use '~@scss-vars/colors.scss' as c;

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  transition: color 0.5s ease-in-out;

  &:hover {
    color: white;
  }

  &__icon {
    display: block;
    width: 18px;
    height: 18px;
    background-color: red;
    margin-right: 10px;
  }

  &__text {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
}