doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Fabric Squid Figure
    link(rel='stylesheet' href='./style1.css')
  body
    .wrap
      .transporter
        .jar
          .sugar
            svg(width='250px' height='250px' viewBox='0 0 250 250')
              circle(cx='125' cy='125' r='90').ring

