doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Spin Squid Figure
    link(rel='stylesheet' href='./style2.css')
  body
    .wrap
      .center
        - var i = 0
          while i < 36
            div(class=`b b${++i}`)
