doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Spin Squid Figure
    link(rel='stylesheet' href='./style2.css')
  body
    .wrap
      - var i = 0
      while i < 24
        div(class=`item item-${++i}`)
