//Sizing
$BLOCK_SIZE: 400px;
$BLOCK_BORDER_RADIUS: 5px;

$SUGAR_DIAM: 250px;

$JAR_THICK: 7.5px;
$LID_DIAM: $SUGAR_DIAM + 4 * $JAR_THICK;

$RING_DIAM: 180px;
$RING_LENGTH: 3.14 * $RING_DIAM;
$RING_THICK: $RING_DIAM / 6;

//Colors
$BLOCK_COLOR: lightseagreen;

$TRANS_FIRST_COLOR: #555555;
$TRANS_SEC_COLOR: #5a5a5a;
$TRANS_GRAD: to right, $TRANS_FIRST_COLOR, $TRANS_FIRST_COLOR 50px, $TRANS_SEC_COLOR 50px, $TRANS_SEC_COLOR 100px;

$JAR_COLOR: #aaaaaa;

$RING_COLOR: darkred;

$SUGAR_COLOR: darkgoldenrod;

//Mixins
@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin animation($name) {
  animation: $name 7.5s ease-in-out infinite both;
}

@mixin circle($diam) {
  width: $diam;
  height: $diam;
  border-radius: 50%;
}

@mixin lid() {
  @include circle($LID_DIAM);
  position: absolute;
  content: '';
  box-shadow: 0 0 10px rgb(0, 0, 0, .5);
  background: repeating-linear-gradient(to right, purple -10px, purple 200px, orange 200px, orange 240px);
}

body {
  @include centering;
  margin: 0;
  height: 100vh;
}

.wrap {
  @include centering;
  width: $BLOCK_SIZE;
  height: $BLOCK_SIZE;
  border-radius: $BLOCK_BORDER_RADIUS;
  margin: 0 auto;
  background-color: $BLOCK_COLOR;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  overflow: hidden;
}

.transporter {
  @include centering;
  box-sizing: border-box;
  height: 350px;
  width: 100%;
  background: repeating-linear-gradient($TRANS_GRAD);
  background-size: 200% 100%;
  border-top: 15px solid $JAR_COLOR;
  border-bottom: 15px solid $JAR_COLOR;
  @include animation(transp-move);
}

@keyframes transp-move {
  0% {
    background-position: 200%;
  }
  20%, 100% {
    background-position: 100%;
  }
}

.jar {
  @include centering;
  @include circle($SUGAR_DIAM);
  background-color: rgb(150, 150, 150);
  border: $JAR_THICK solid $JAR_COLOR;
  box-shadow: 0 0 5px rgb(0, 0, 0, .5), inset 0 0 10px rgb(0, 0, 0, .5);
  @include animation(sugar-move);

  &:before {
    @include lid;
    transform: scale(0.97);
    left: $BLOCK_SIZE - 2 * $JAR_THICK;
  }

  &:after {
    @include lid;
    @include animation(lid-move);
  }
}

@keyframes lid-move {
  0%, 60% {
    transform: translate3d(0, -$BLOCK_SIZE, 0);
  }
  70% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(720deg) scale(0.97);
  }
}


@keyframes sugar-move {
  0% {
    transform: translate3d(-$BLOCK_SIZE, 0, 0);
  }
  20%, 100% {
    transform: translate3d(0, 0, 0);
  }
}

.sugar {
  @include centering;
  @include circle($SUGAR_DIAM);
  background-color: $SUGAR_COLOR;
  @include animation(fill);
}

@keyframes fill {
  0%, 20% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.ring {
  fill: none;
  stroke: $RING_COLOR;
  stroke-width: $RING_THICK;
  stroke-linecap: round;
  @include animation(ring-draw);
}

@keyframes ring-draw {
  0%, 40% {
    filter: opacity(0);
    stroke-dasharray: 0 $RING_LENGTH;
  }
  45% {
    filter: opacity(1);
    stroke-dasharray: 0 $RING_LENGTH;
  }
  60% {
    stroke-dasharray: $RING_LENGTH $RING_LENGTH;
  }
}
