@use '~@scss-vars/colors' as c;
@use '~@scss-utils/functions' as f;

.btn {
  @extend %font;
  width: 100px;
  height: 40px;
  background-color: c.$MAIN_BTN_COLOR;
  font-size: f.getREM(12);
  line-height: f.getREM(18);
  letter-spacing: .85px;
  color: c.$ACTIVE_FONT_COLOR;
  border: none;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: #8b8865;
  }
}