@use '~@scss-vars/colors' as c;
@use '~@scss-utils/functions' as f;

.btn {
  @extend %font;
  width: 100px;
  height: 40px;
  font-size: f.getREM(12);
  line-height: f.getREM(18);
  letter-spacing: .85px;
  color: c.$ACTIVE_FONT_COLOR;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
