doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Algorithms and data structures
  body
    div(id='div' data-key='DIV')
      div(id='div1' data-key='DIV-1')
        div(id='div1.1' data-key='DIV-1.1')
        div(id='div1.2' data-key='DIV-1.2')
          p(id='par1' data-key='PAR-1')
          p(id='par2' data-key='PAR-2')
            span(id='span1' data-key='SPAN-1')
            span(id='span2' data-key='SPAN-2')
        div(id='div1.3' data-key='DIV-1.3')
      div(id='div2' data-key='DIV-2')
      div(id='div3' data-key='DIV-3')
        div(id='div3.1' data-key='DIV-3.1')
          p(id='par3' data-key='PAR-3')
    script(src='./script.js')
