doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Algorithms and data structures
  body
    div(id='div')
      div(id='div1')
        div(id='div1.1')
        div(id='div1.2')
          p(id='par1')
          p(id='par2')
            span(id='span1')
            span(id='span2')
        div(id='div1.3')
      div(id='div2')
      div(id='div3')
        div(id='div3.1')
          p(id='par3')
    script(src='./script.js')
