include ../../components/molecules/item/item

-
  var items = [
    {type: 'vehicle', name: 'ะะก-6', country: 'ussr', sing: '3', price: '47.99', image: 'is-6'},
    {type: 'vehicle', name: 'VIII Lowe', country: 'norway', sing: '3', price: '42.99', image: 'lowe'},
    {name: 'Extension Pack', price: '28.99', image: 'extension'},
    {name: 'Wot Premium Account: 3 Days', price: '2.99', image: 'premium-3'},
    {type: 'vehicle', name: 'VII M56 Scorpion', country: 'usa', sing: '0', price: '24.99', image: 'm56-scorpion'},
    {type: 'vehicle', name: 'VIII FV4202', country: 'britain', sing: '2', price: '40.99', image: 'fv4202'},
    {
      type: 'vehicle',
      name: 'VIII M4A1 Revalorise',
      country: 'france',
      sing: '2',
      price: '35.99',
      image: 'm4a1-revalorise'
    },
    {name: '10 personal reserves: +15% xp limited edition', price: '29.99', image: 'reserves'},
    {name: 'gold: 25.000', price: '99.99', image: 'gold'},
    {type: 'vehicle', name: 'VIII T92', country: 'usa', sing: '1', price: '36.99', image: 't92'},
  ]

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Premium Store
  body
    include ../../components/section/header/header
    main
      div
        section
          img(src='wot-logo' alt='wot logo')
          include ../../components/molecules/tab-panel/tab-panel
        section
          each item in items
            +item(item)